@import "../styles/Prism.css";

code {
    .language-css .token.string,
    .style .token.string,
    .token.entity,
    .token.operator,
    .token.url {
        background-color: transparent;
    }
}

code[class*="language-"], 
pre[class*="language-"] {
    text-shadow: none;
}

:not(pre)>code[class*=language-], 
pre[class*=language-] {
    background: rgba(245, 242, 240, 0.2) !important;
}
