@import "../styles/Prism.css";

code {
  .language-css .token.string,
  .style .token.string,
  .token.entity,
  .token.operator,
  .token.url {
    background-color: transparent;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgb(245 242 240 / 20%) !important;
}
