@import "typo.css";
@import "fonts.css/dist/fonts.scss";
@import "fonts.css/dist/fonts.css";
@import "prismjs/themes/prism.css";
@import "./toc.scss";

//  @import "../../../../../wp-includes/css/dist/block-library/style.min.css";

$text-not-primary-color: #212a35;
$border-color: #eaeaea;
$link-primary-color: #1a73e8;
$text-color: #333;
$content-width: 680px;

html {
  color: #3c4043;
  font-size: 16px;
}

body {
  font-weight: normal;
  word-break: normal;
  word-wrap: break-word;
  text-align: justify;
  // text-justify: ideographic;
  @include font-fang-song;
}

a {
  color: $link-primary-color;
  text-decoration-color: $link-primary-color;
}

header {
  background-color: transparent !important;
}

main {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 @include font-song;
 color: $text-color;
 font-weight: normal;
}

.admin-bar {
  .main-header {
    margin-top: -35px;
  }
}

.typo {
  a {
    border-color: $link-primary-color;
  }

  .typo-table thead th,
  & table thead th {
    border-color: $border-color;
    background: rgba(245, 242, 240, 0.2) !important;
  }

  & table {
    th,
    td {
      line-height: 1.2;
    }
    table {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

.alignleft {
  float: left;
}

figure.alignleft,
img.alignleft {
  margin-right: 15px;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

img.alignright,
figure.alignright {
  margin-left: 15px;
}

.sticky {
  position: sticky;
}

.wp-caption {
}

.gallery {
}

.gallery-caption {
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.wp-caption-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.content-width {
  max-width: $content-width;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  position: relative;
  max-width: 100%;
  //overflow: hidden;
  // margin-bottom: 100px;

  .header-content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
  }

  &:before {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
  }

  & .top-nav-container:before {
    display: none;
  }

  .main-header-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-top-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);

    .list {
      padding: 0;

      margin: 0 auto;
      line-height: 30px;
      .list-item {
        list-style: none;
        display: inline-block;
        color: #000;
        a {
          color: inherit;
        }
      }
    }
  }

  $blog-info-area-height: 100px;

  .blog-info-wrap {
    text-align: center;
    font-size: 0;
    display: flex;
    justify-content: center;

    .split-line {
      display: inline-block;
      min-height: 100%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 20px;
    }

    .custom-logo-link {
      position: relative;
      width: $blog-info-area-height;
      display: inline-block;
      height: $blog-info-area-height;

      .custom-logo {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 5px;
      }
    }

    .blog-title-desc-wrap {
      display: inline-block;
      color: #fff;
      text-align: left;
    }

    .home-link {
      display: block;
      font-size: 70px;
      line-height: 1;
      text-decoration: none;
      color: #fff;
      margin-bottom: 10px;
      box-sizing: border-box;
      @include font-kai;

      &:hover {
        color: $border-color;
      }

      .blog-title {
        display: block;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        color: inherit;
        font-weight: bold;
      }
    }

    .blog-description {
      font-size: 20px;
      line-height: 20px;
      text-align: inherit;
      color: #eaeaea;
    }
  }

  .top-nav-container {
    width: 100%;
    // position: sticky;
    top: 0;
    text-align: center;
    font-size: 0;
    line-height: 50px;
    height: 50px;
    margin-top: -50px;
    overflow: hidden;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -30px;
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }

  .top-menu {
    font-size: 0;
    line-height: inherit;
    height: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
    position: relative;
    padding-bottom: 30px;

    ul li {
      display: inline-block;
    }
  }

  .page_item,
  .menu-item {
    font-size: 14px;
    display: inline-block;
    margin: 0 15px;
    line-height: inherit;

    &.current_page_item,
    &.current-menu-item,
    &.current-category-ancestor,
    &:hover {
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &.current_page_item,
    &.current-category-ancestor,
    &.current-menu-item {
      font-weight: bold;
    }

    a {
      display: block;
      color: #757575;
    }
  }
}

.page,
.single {
  .main-content {
    .post {
      border-bottom: none;
    }
  }
}

.main-content {
  .post-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  $top-meta-height: 40px;
  $top-meta-margin: 10px;

  .post-meta-wrap {
    margin: 30px 0;
  }

  .post-meta {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
    color: $text-not-primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-fang-song;

    a {
      color: inherit;
    }

    .post-meta-item {
      font-size: 14px;
      line-height: 1;
      display: inline-block;
      white-space: nowrap;
    }

    .post-author {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .avatar {
      display: block;
      width: $top-meta-height;
      height: $top-meta-height;
      border-radius: 50%;
      margin-right: $top-meta-margin;
    }

    .author-name,
    .publish-time {
      display: block;
      text-align: left;
      line-height: inherit;
      font-size: inherit;
    }

    .publish-time {
      font-size: 13px;
      line-height: 1;
      margin-top: 2px;
      font-family: sans-serif;
    }

    .author-name {
      font-size: 18px;
      margin-bottom: 2px;
      padding-top: 2px;
      // padding-bottom: 5px;
    }

    .category-list {
      margin-left: $top-meta-margin;
      padding-left: $top-meta-margin;
      min-height: $top-meta-height;
      line-height: $top-meta-height - $top-meta-margin;
      border-left: 1px solid #e5e5e5;
      vertical-align: bottom;
      white-space: normal;
      display: inline-flex;
      font-size: 20px;
      //justify-content:center;
      align-items: center;
      flex-wrap: wrap;

      a {
        display: inline-block;
        vertical-align: bottom;
      }
    }

    &.post-tags-wrap {
      // font-size: 18px;
      // line-height: 20px;
      margin: 20px 0;
      flex-flow: wrap;

      a {
        // font-style: italic;
        display: inline-block;
        font-size: inherit;
        text-transform: capitalize;
        margin: 5px;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 3px 10px;
        color: $text-not-primary-color;
        font-size: 1rem;
        line-height: 1.25rem;
        transition: color, background-color 0.3s ease-in-out;

        &:hover {
          color: #1967d2;
          background-color: #e8f0fe;
        }

        &:before {
          content: "#";
          display: inline;
          font-weight: bolder;
          
          font-family: serif;
          // color: #1967d2;
          //color: #999;
        }
      }
    }
  }

  .post {
    margin: 50px 0 50px 0;
    border-bottom: 1px solid $border-color;

    

    &.last-child {
      border-bottom: none;
    }

    .post-title {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 50px;
      line-height: 1.2;
      word-break: break-word;
      font-weight: 600;

      .post-title-url {
        font-size: inherit;
        text-decoration: none;
        color: #202124;
        transition: color 0.2s linear;

        a {
          color: inherit;
        }

        &:hover {
          color: #000;
          border-bottom: 1px solid #333;
        }

        &:visited {
          color: $text-not-primary-color;
        }
      }
    }

    &.sticky {
      .post-title {
        &:before {
          content: "☞";
          color: #1abc9c;
          margin-right: 0;
        }
        // .post-title-url {
        //   //background: yellow;
        // }
      }
    }
  }
}

.entry-footer {
  clear: both;
}


.post-entry {
  font-size: 18px;
  margin: 50px 0;
  word-break: break-all;
  text-align: justify;
  text-justify: inter-character;
  text-rendering: optimizeLegibility;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    color: #202124;
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }

  a {
    color: inherit;
    border-color: $text-not-primary-color;
    word-break: break-all;

    &:hover {
      color: $link-primary-color;
      border-bottom-color: $link-primary-color;
    }
  }

  blockquote {
    color: #666;
    border-left-width: 3px;
    border-left-color: $border-color;
    @include font-kai;
    font-size: 20px;
  }

  video,
  audio {
    display: block;
    width: 100%;
  }

  iframe,
  twitterwidget {
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    &.alignleft {
      margin-right: 10px;
    }

    &.alignright {
      margin-left: 10px;
    }

    a {
      text-decoration: none;
      border-bottom: none;
    }

    figcaption {
      text-align: center;
    }
  }

  iframe {
    max-width: 100%;
    display: block;
  }

  .attachment {
    a {
      display: block;
      border: none;

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

    .gallery-item {
      margin: 5px 0 5px 0;
      padding: 0 5px;
      box-sizing: border-box;
    }

    .gallery-caption {
      margin-top: 5px;
      line-height: 1.2;
      font-size: 14px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 20;
      -webkit-box-orient: vertical;
    }

    .gallery-icon {
      &:hover {
        img {
          transform: scale3d(1.5, 1.5, 1);
        }
      }
      a {
        position: relative;
        display: block;
        overflow: hidden;
        padding-bottom: 100%;
        border-radius: 4px;
        border: 1px solid #1abc9c;

        &:hover {
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }
      }

      img {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        transition: transform 0.5s linear;
        will-change: transform;
      }
    }
  }

  @for $i from 1 through 10 {
    .gallery-columns-#{$i} {
      .gallery-item {
        flex-basis: 100% / $i;
      }
    }
  }

  table {
    font-size: 90%;
    width: 100%;
  }

  pre {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f8f8f8;
    overflow: auto;
    // font-size: 16px;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;

    code {
      padding: unset;
      border: unset;
      background: unset;
      border-radius: unset;
      box-shadow: none;
      font-size: 15px;
      font-family: inherit;
      font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    }
  }

  code {
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    word-break: keep-all;
    background-color: rgba(245, 242, 240, 0.2);
    // font-size: 0.9em;
    @include font-hei;
  }

  a.more-link {
    color: $text-not-primary-color;
    border: 1px solid $text-not-primary-color;
    display: inline-block;
    padding: 0 1.25rem;
    line-height: 2.5rem;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color, color 0.3s ease-in-out;

    &:hover {
      color: #FFF;
      background-color: $text-color;
    }

    &:focus {
      // border-color: #174ea6;
      // color: #174ea6;
      box-shadow: 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }
  }

  code {
    .language-css .token.string,
    .style .token.string,
    .token.entity,
    .token.operator,
    .token.url {
      background-color: transparent;
    }
  }

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: transparent !important;
    box-shadow: 0 0 3px #00000038;
    border: none;
  }

  .post-password-form {
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
    //box-shadow: 0px 0px 1px rgba(0,0,0, .2);
    padding: 5px 0;

    p {
      margin: 20px 0;
    }

    input[type="password"],
    input[type="submit"] {
      height: 35px;
      display: inline-block;
      appearance: none;
      -webkit-appearance: none;
      line-height: 35px;
      padding: 0;
      margin: 0;
      border-radius: 2px;
      border: 1px solid #999;
      box-sizing: border-box;
    }

    input[type="password"] {
      width: 200px;
    }

    input[type="submit"] {
      width: 100px;
      border-radius: 30px;
      border: 1px solid #1abc9c;
    }
  }

  img.wp-post-image,
  img.attachment-thumbnail,
  img.attachment-medium,
  img.attachment-large,
  img.attachment-full {
    border: none;
  }
}

.post.format-chat {
  .post-entry {
    display: flex;
    flex-direction: column;
    &:after {
      content: "";
      clear: both;
      width: 0;
      height: 0;
      display: block;
    }

    img {
      display: block;
    }

    p {
      display: inline-block;
      padding: 5px 10px;
      position: relative;
      border-radius: 5px;
      $triangle-width: 10px;
      z-index: 2;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border: $triangle-width solid transparent;
        top: 50%;
        margin-top: -$triangle-width;
        z-index: 3;
      }

      &:before {
        z-index: -1;
        border-width: $triangle-width;
        margin-top: -($triangle-width);
      }

      &:nth-child(odd) {
        align-self: flex-start;
        border-top-left-radius: 0;
        box-shadow: 0 0 1px $border-color;
        background-color: lighten($border-color, 5);
        margin-left: $triangle-width;
        &:after {
          border-right-color: lighten($border-color, 5);
          left: -$triangle-width * 2;
        }

        &:before {
          border-right-color: #f7f7f7;
          left: -($triangle-width * 2) - 1px;
        }
      }

      &:nth-child(even) {
        margin-right: $triangle-width;
        align-self: flex-end;
        box-shadow: 0 0 1px #1abc9c;
        background-color: lighten(#1abc9c, 50);
        border-bottom-right-radius: 0;
        &:after {
          border-left-color: lighten(#1abc9c, 50);
          right: -$triangle-width * 2;
        }

        &:before {
          border-left-color: #c1eadf;
          right: -($triangle-width * 2 + 1px);
        }
      }
    }
  }
}

.post.format-link {
  .post-entry {
    a {
      font-size: 20px;
      position: relative;
      display: block;
      border: 2px dashed $border-color;
      text-align: center;
      background: lighten($border-color, 5);
      padding: 25px 0;
      border-radius: 5px;

      &:before {
        content: "☞";
        display: inline-block;
        margin-right: 5px;
        font-size: inherit;
      }
    }
  }
}

.post.format-status {
  .post-entry {
    > * {
      display: block;
      background-color: lighten($border-color, 5);
    }
  }
}

.post.format-quote {
  blockquote {
    font-size: 20px;
    font-weight: bold;
  }
}

.pages-nav {
  margin: 100px 0;

  .page-numbers {
    list-style: none;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    li {
      display: inline-block;
      font-size: 0;
      margin: 0 1px;
      &:hover {
        a {
          transition: color 0.5s linear;
          color: $text-color;
        }
      }
    }

    .page-numbers,
    span,
    a {
      font-size: 20px;
      display: block;
      text-decoration: none;
      color: #757575;
      padding: 0 5px;
      min-width: 30px;
      line-height: 30px;
      height: 30px;
      box-sizing: border-box;
      border-radius: 100%;
      margin: 0 5px;

      &.current {
        color: #fff;
        border-radius: 100%;
        font-weight: bold;
        background-color: $text-not-primary-color;
      }
    }
  }
}

.end {
  margin-top: 50px;
  display: flex;
  content: "EOF";
  height: 20px;
  justify-content: flex-end;
  align-items: center;
  line-height: 20px;

  &::before,
  &::after {
    display: block;
    content: "";
    height: 0;
    border-bottom: 1px dotted $border-color;
    flex: 1;
    line-height: 0;
  }

  .eof {
    line-height: inherit;
    display: inline-block;
    margin: 0 10px;
    flex-shrink: 0;
    color: $border-color;
    text-align: center;
    animation: textBlink 5s ease infinite alternate-reverse;
  }
}

@keyframes textBlink {
  to {
    color: $text-not-primary-color;
  }
}

.comments-area {
  .comment-list {
    .pingback {
      margin: 15px 0;
    }
  }

  .comments-title {
    font-size: 30px;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
  }

  .comment {
    position: relative;
    margin: 30px 0 0 0;
    border-bottom: 1px solid $border-color;

    &.bypostauthor {
      font-size: inherit;
    }

    .comment-body {
      margin: 10px 0 0 0;
    }

    .reply {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }

    .comment-body:hover {
      .reply {
        display: block;
        font-weight: bold;
      }
    }

    .comment-awaiting-moderation {
      color: #c57800;
      margin-top: 10px;
      line-height: 1.2;
      border: 1px solid #ffd22c;
      display: inline-block;
      padding: 5px;
      border-radius: 2px;
      background-color: rgba(255, 227, 151, 0.34902);
      font-size: 14px;
      @include font-fang-song;
    }

    .children {
      .comment {
        position: relative;
        margin-left: 50px;
        border-bottom: none;
      }
    }

    .comment-content {
      padding: 15px 0;
      font-size: 16px;

      img {
        max-width: 100%;
      }
    }
  }

  .comment-meta {
    //@include font-kai;
    .comment-author {
      height: 20px;
      margin-bottom: 5px;
      font-size: 0;
      display: flex;
      line-height: 1;
      //background-color: red;

      .fn,
      .says {
        height: inherit;
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        color: $text-not-primary-color;
        //transform: translateY(4px);
        //background-color: #333;

        a {
          color: inherit;
        }
      }

      .says {
        margin-left: 5px;
        font-size: 12px;
        color: #666666;
        @include font-song;
      }

      .avatar {
        display: block;
        position: relative;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }
    }

    .comment-metadata {
      height: 15px;
      font-size: 14px;
      line-height: 1;
      margin-left: 50px;
      a,
      time {
        font-size: 12px;
        line-height: inherit;
        height: inherit;
        color: $text-not-primary-color;
        margin-right: 5px;
        vertical-align: text-bottom;
        @include font-fang-song;
      }
    }
  }
  .children {
    .comment-respond {
      border-radius: 2px;
      box-shadow: 0 0 2px #00000038;
      padding: 0 15px 1px 15px;
      box-sizing: border-box;
    }
  }

  .comment-respond {

    .comment-reply-title {
      font-size: 30px;
      padding: 10px 0;
      border-bottom: 1px solid $border-color;
      margin: 30px 0;
    }

    #cancel-comment-reply-link {
      font-size: 16px;
      border: 1px solid $link-primary-color;
      border-radius: 1px;
      padding: 0 2px;
    }
  }

  .comment-form {
    margin-bottom: 20px;
    .comment-notes {
      font-size: 12px;
      color: $text-not-primary-color;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-comment {
      margin: 25px 0;
      display: flex;
    }

    label {
      display: inline-block;
      width: 80px;
      font-size: 16px;
      line-height: 40px;
      flex-grow: 0;
      flex-shrink: 0;
      .required {
        color: red;
      }
    }

    .comment-form-comment {
      width: 60%;
      float: right;

      label {
        width: 50px;
      }

      textarea {
        min-height: 170px;
        padding: 10px;
        text-indent: 0;
      }
    }

    .form-submit {
      clear: both;
    }

    .comment-form-cookies-consent {
      margin-bottom: 25px;

      #wp-comment-cookies-consent {
        line-height: 1;
      }

      label {
        line-height: 1;
        // width: auto;
        margin-left: 5px;
        font-size: 14px;
        color: #666;
        display: inline;
      }
    }

    .submit {
      color: $text-not-primary-color;
      border: 1px solid $text-not-primary-color;
      display: inline-block;
      padding: 0 1.25rem;
      line-height: 2.5rem;
      appearance: none;
      text-decoration: none;
      border-radius: 3px;
      font-weight: bold;
      transition: background-color, color 0.3s ease-in-out;
      background-color: transparent;

      &:hover {
        color: #FFF;
        background-color: $text-color;
      }

      &:focus {
        // border-color: #174ea6;
        // color: #174ea6;
        box-shadow: 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 2px 6px 2px rgba(60, 64, 67, 0.15);
      }
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      padding-right: 10px;
    }

    //.comment-form-author {
    //  label {
    //    width: inherit;
    //    padding-left: 0;
    //    padding-right: 0px;
    //  }
    //}

    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
      flex: 1;
      height: 40px;
      float: right;
      width: 100%;
      display: block;
      border-radius: 3px;
      border: 1px solid $border-color;
      flex-grow: 1;
      box-sizing: border-box;
      text-indent: 0.5em;
      appearance: none;

      &:focus {
        outline: none;
        border-color: $text-color;
      }
    }
  }
}

.relative-post-nav {
  margin-top: -30px;
  margin-bottom: 30px;

  .nav-list {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: #999;

    .nav-item {
      font-size: 20px;
      line-height: 1.2;
      max-width: 50%;
      display: flex;
      align-items: center;

      a {
        font-weight: bold;
        margin: 0 10px;
        word-break: break-all;
        // text-align: justify;
        // text-justify: newspaper;
      }
    }

    .next-nav-item {
      text-align: right;
    }
  }
}

.main-footer {
  background-color: #f9f9f9;
  padding: 50px 0;
  font-size: 12px;
  color: #666;

  .footer-content {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
  }

  a {
    color: #1967d2;
  }
}

.article-pages {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;

  a {
    text-decoration: none;
  }

  .page {
    padding: 0 5px;
    font-weight: bold;
  }
}

.page {
  &.page-template-page-friends {
    .friend-list {
      display: flex;
      .friend-list-item {
        box-shadow: 0 1px 10px rgba($color: blue, $alpha: 0.1);
        border-radius: 3px;
        border: 1px solid $border-color;
        margin: 20px;
        width: 300px;
        height: 400px;
        overflow: hidden;
        display: block;
      }
    }
  }

  &.page-template-page-tags {
    .post-wrap {
      margin-top: 50px;
      margin-bottom: 50px;
      //margin: 50px auto;
      //text-align: justify;
    }

    .tag-cloud-link {
      display: inline-block;
      word-break: keep-all;
      line-height: 1.2;
      margin: 13px 3px;
      padding: 2px 3px;
      color: $text-not-primary-color;
      border: none;
      text-decoration: none;
      @include font-fang-song;

      .tag-link-count {
        font-size: 12px;
        vertical-align: super;
        color: $text-not-primary-color;
      }

      &:hover {
        color: $text-color;
        transform: scale(1.2);
        transition: transform 0.3s ease;
        transform-origin: bottom center;
        //font-weight: bold;
        //text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
      }

      //@for $i from 1 through 5 {
      //  &.tag-link-position-#{$i} {
      //    color: darken($border-color, $i * 20%);
      //  }
      //}
    }
  }

  &.page-template-page-archive {
      .post-title {
        @include font-kai;
        //color: #FFF;
        border: 1px solid $text-not-primary-color;
        width: 5ch;
        margin: 0 auto;
        //background-color: $text-not-primary-color;
      }

      .main-content {
        .post {
          border-bottom: none;
          margin-bottom: 0;
          // background-color: rgba($color: #000000, $alpha: 0.1);

          ul,
          ol,
          li {
            list-style: none;
            padding: 0;
            margin: 0;
          }

          $space: 80px;

          .unit {
            @include font-kai;
          }

          .month-title,
          .year-title {
            margin: 0;
            width: $space;
            text-align: right;
            font-weight: bold;
            line-height: 40px;
            height: 40px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            justify-self: center;

            .unit {
              margin-left: 2px;
              font-size: 14px;
              font-weight: normal;
              line-height: inherit;
              vertical-align: middle;
              color: $text-not-primary-color;
            }
          }

          .month-list {
            .month-list-item {
              margin-bottom: 10px;
            }

            // margin-left: 20px;
            .month-title {
              font-size: 20px;
            }
          }

          .year-list {
            // margin-left: -30px;
            .year-list-item {
              margin-bottom: 20px;
            }

            .year-title {
              font-size: 28px;
            }
          }

          .post-list {
            position: relative;
            margin-bottom: 15px;

            .post-list-item {
              margin-left: $space + 10px;
              font-size: 16px;
              line-height: 40px;
              position: relative;
              display: flex;
              align-content: center;
              justify-content: center;
              align-items: center;
              @include font-fang-song;

              &::before {
                position: absolute;
                content: "";
                background-color: $border-color;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 17px;
                // transform: translateY(-50%);
                left: -9px;
              }

              &:first-child {
                margin-top: -40px;
              }

              .line {
                display: block;
                height: 0;
                flex: 1 0 0;
                font-size: 0;
                border-bottom: 1px dotted $border-color;
              }

              a {
                border-bottom: none;
                text-decoration: none;
                &:hover {
                  color: $text-color;
                }
              }

              .comments {
                margin-left: 5px;
                font-size: 14px;
              }

              .title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 0 5px;
                font-weight: 500;
                @include font-kai;
                &:hover {
                  color: #000;
                  transition: color 0.3s linear;
                }
              }

              .comments,
              .publish-time {
                flex-shrink: 0;
                font-size: 14px;
                color: $text-not-primary-color;
              }
              .publish-time {
                font-size: inherit;
                font-weight: 500;
              }
            }
          }

          .month-title,
          .year-title,
          .publish-time {
            font-weight: 600;
            font-family: serif, Georgia,Nimbus Roman No9 L,Songti SC,"Noto Serif CJK SC","Source Han Serif SC","Source Han Serif CN",STSong,AR PL New Sung,AR PL SungtiL GB,NSimSun,SimSun,TW\\-Sung,WenQuanYi Bitmap Song,AR PL UMing CN,AR PL UMing HK,AR PL UMing TW,AR PL UMing TW MBE,PMingLiU,MingLiU,serif;
          }
        }
      }

      #pagesNav {
        display: none;
      }
    }
}

.error404 {
  .post-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
  }

  .search-notice {
    margin-bottom: 15px;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .title {
    font-weight: bold;
    font-size: 10em;
    padding:50px 0;
    font-family: Arial;
    text-align: center;
    color: $text-not-primary-color;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.69);
    //text-shadow: 0 1px rgba(0,0,0,0.9),
    //             0 -1px #FFF;
  }
}

.search-form {
  .search-field {
    height: 35px;
    border: 1px solid $border-color;
    //margin-right: 10px;
    padding: 5px;
    width: 350px;
    border-radius: 3px 0 0 3px;

    &:focus,
    &:focus {
      border-color: $text-not-primary-color;
    }
  }

  .search-submit {
    color: $text-not-primary-color;
    border: 1px solid $text-not-primary-color;
    display: inline-block;
    padding: 0 1.25rem;
    //line-height: 2.5rem;
    text-decoration: none;
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
    font-weight: bold;
    height: 35px;
    transition: background-color, color 0.3s ease-in-out;
    background-color: transparent;

    &:hover {
      color: #FFF;
      background-color: $text-color;
    }

    &:focus {
      // border-color: #174ea6;
      // color: #174ea6;
      box-shadow: 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 2px 6px 2px rgba(60, 64, 67, 0.15);
    }
  }
}

.sw-update-notice {
  position: fixed;
  background-color: $text-not-primary-color;
  color: #FFF;
  top: 250px;
  padding: 10px;
  border-radius: 0 2px 2px 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  display: none;
}

@media screen and (max-width: $content-width) {
  .comments-area {
    .comment-form {
      .comment-form-comment {
        width: auto;
        float: none;

        label {
          width: 80px;
        }
      }

      .comment-form-author,
      .comment-form-email,
      .comment-form-url {
        padding-right: 0;
      }
    }
  }

  .page {
    &.page-template-page-tags {
      .post-wrap {
        padding: 0 25px;
      }
      .tag-cloud-link {
        margin: 5px 3px;
        padding: 2px 3px;
      }
    }

    &.page-template-page-archive {
      .post-entry {
        margin-left: -20px;
      }
    }

    #pagesNav {
      display: none;
    }
  }
}

@media screen and (max-width: 782px) {
  .admin-bar {
    .main-header {
      margin-top: -46px;
    }
  }
}

@media screen and (max-width: 640px) {
  .main-header {
    //min-height: 200px;
    // .blog-title-desc-wrap {
    //   //transform: translateY(-10px);
    // }

    .blog-info-wrap {
      margin-top: 0;

      .home-link {
        font-size: 50px;
      }

      .custom-logo-link {
        display: none;
      }

      .split-line {
        display: none;
      }

      .blog-title-desc-wrap {
        text-align: center;
      }
    }

    .top-menu {
      margin-top: 0;
    }

    .top-nav-container {
      height: 30px;
      line-height: 30px;
      margin-top: -30px;
    }
  }

  .main-content {
    .post {
      margin-top: 30px;
      margin-bottom: 30px;
      .post-title {
        font-size: 2em;
      }
    }
    .hentry {
      //border-bottom: none;
    }
  }

  .post-entry {
    font-size: 16px;

    table {
      max-width: 100%;
    }
  }

  .relative-post-nav .nav-list .nav-item {
    font-size: 14px;
  }

  .main-content .post-meta.post-tags-wrap {
    font-size: 15px;
  }

  .main-header {
    margin-bottom: 50px;
  }

  .comments-area {
    .comment .comment-content {
      font-size: 14px;
    }
    .comments-title {
      font-size: 20px;
    }
  }

  .page.page-template.page-template-archieve {
    .main-content .post .year-list {
      margin-left: -10px;
    }
  }

  .pages-nav .page-numbers  {
    .page-numbers, 
    a,
    span {
      font-size: 16px;
    }

    .page-numbers {
      min-width: 20px;
      line-height: 20px;
      height: 20px;
      margin: 0 1px;
      // width: 25px;
      // height: 25px;
      // line-height: 25px;
    }
  }
 

  #jsToc {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main-header {
    .blog-info-wrap {
      margin-top: 0;

      .home-link {
        font-size: 40px;
      }
    }
  }

  .main-content .post .post-title {
    // font-size: 30px;
  }
  .main-header .custom-header-background-image {
    padding-bottom: 50%;
    background-size: cover;
  }
}


@media screen and (prefers-color-scheme: dark) {
  body {
  }
}
