@import url(../styles/normalize.css);
@import url(../styles/typo.css);
@import url(../styles/prism.css);
* {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.alignleft {
  float: left; }
  .alignleft.img {
    margin-right: 10px; }

.aligncenter {
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }
  .alignright.img {
    margin-left: 10px; }

.sticky {
  position: -webkit-sticky;
  position: sticky; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.wp-caption-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.serif {
  font-family: Palatino, Optima, Georgia, serif; }
  .serif h1, .serif h2, .serif h3, .serif h4, .serif h5, .serif h6 {
    font-family: inherit; }

.content-width {
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  position: relative;
  max-width: 100%;
  margin-bottom: 100px; }
  .main-header .header-content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%; }
  .main-header:before {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.2); }
  .main-header .main-header-content {
    height: 100%; }
  .main-header .header-top-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5); }
    .main-header .header-top-bar .list {
      padding: 0;
      margin: 0 auto;
      line-height: 30px; }
      .main-header .header-top-bar .list .list-item {
        list-style: none;
        display: inline-block;
        color: #000; }
        .main-header .header-top-bar .list .list-item a {
          color: inherit; }
  .main-header .blog-info-wrap {
    text-align: center;
    font-size: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px; }
    .main-header .blog-info-wrap .split-line {
      display: inline-block;
      min-height: 100%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 20px; }
    .main-header .blog-info-wrap .custom-logo-link {
      position: relative;
      width: 100px;
      display: inline-block;
      height: 100px; }
      .main-header .blog-info-wrap .custom-logo-link .custom-logo {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 5px; }
    .main-header .blog-info-wrap .blog-title-desc-wrap {
      display: inline-block;
      color: #FFF;
      text-align: left; }
    .main-header .blog-info-wrap .home-link {
      display: block;
      font-size: 70px;
      line-height: 1;
      text-decoration: none;
      color: #fff;
      margin-bottom: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .main-header .blog-info-wrap .home-link:hover {
        color: #eaeaea; }
      .main-header .blog-info-wrap .home-link .blog-title {
        display: block;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        color: inherit; }
    .main-header .blog-info-wrap .blog-description {
      font-size: 20px;
      line-height: 20px;
      text-align: inherit;
      color: #eaeaea; }
  .main-header .top-menu {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 0;
    line-height: 50px;
    height: 50px;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    /* Google Chrome */
    backdrop-filter: saturate(180%) blur(20px); }
    .main-header .top-menu > ul {
      font-size: 0;
      line-height: inherit;
      height: inherit;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      max-width: 100%; }
    .main-header .top-menu .page_item {
      font-size: 12px;
      display: inline-block;
      margin: 0 15px;
      line-height: inherit; }
      .main-header .top-menu .page_item.current_page_item a, .main-header .top-menu .page_item:hover a {
        color: #FFF;
        text-decoration: none; }
      .main-header .top-menu .page_item a {
        display: block;
        color: #999; }

.post-list .post-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto; }
.post-list .post-meta-wrap {
  margin: 30px 0; }
.post-list .post-meta {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 0;
  color: #999; }
  .post-list .post-meta .post-meta-item {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap; }
  .post-list .post-meta .avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; }
  .post-list .post-meta .author-name,
  .post-list .post-meta .publish-time {
    display: block;
    text-align: left;
    line-height: inherit;
    font-size: inherit; }
  .post-list .post-meta .author-name {
    font-size: 18px;
    padding-bottom: 8px; }
  .post-list .post-meta .category-list {
    margin-left: 10px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #E5E5E5;
    vertical-align: bottom; }
  .post-list .post-meta.post-tags-wrap {
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0; }
    .post-list .post-meta.post-tags-wrap a {
      font-style: italic;
      display: inline-block;
      font-size: inherit; }
      .post-list .post-meta.post-tags-wrap a:before {
        content: '#';
        display: inline; }
.post-list .post {
  margin: 50px 0;
  border-bottom: 1px solid #eaeaea; }
  .post-list .post .post-title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    line-height: 1.2;
    word-break: break-all; }
    .post-list .post .post-title .post-title-url {
      font-size: inherit;
      text-decoration: none;
      color: #5D5D5D;
      -webkit-transition: color .5s linear;
      transition: color .5s linear; }
      .post-list .post .post-title .post-title-url:hover {
        color: #333;
        border-bottom: 1px solid #333; }
      .post-list .post .post-title .post-title-url:visited {
        color: #777777; }

.post-entry {
  font-size: 20px;
  margin: 50px 0; }
  .post-entry .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .post-entry .gallery .gallery-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 10px; }
  .post-entry table {
    font-size: 80%; }
  .post-entry pre {
    border: 1px solid #EEE;
    border-radius: 5px;
    background-color: #f8f8f8;
    overflow: auto;
    font-size: 80%; }
  .post-entry p code {
    padding: 1px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #EEE; }
  .post-entry a.more-link {
    color: #999;
    border: 1px solid #e2e2e2;
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px; }
    .post-entry a.more-link:hover {
      color: #FFF;
      background-color: #1abc9c;
      border-color: #17a689;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }

.post.format-chat .post-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .post.format-chat .post-entry:after {
    content: '';
    clear: both;
    width: 0;
    height: 0;
    display: block; }
  .post.format-chat .post-entry img {
    display: block; }
  .post.format-chat .post-entry p {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    border-radius: 5px;
    z-index: 2; }
    .post.format-chat .post-entry p:before, .post.format-chat .post-entry p:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border: 10px solid transparent;
      top: 50%;
      margin-top: -10px;
      z-index: 3; }
    .post.format-chat .post-entry p:before {
      z-index: -1;
      border-width: 10px;
      margin-top: -10px; }
    .post.format-chat .post-entry p:nth-child(odd) {
      -ms-flex-item-align: start;
          align-self: flex-start;
      border-top-left-radius: 0;
      -webkit-box-shadow: 0 0 1px #EAEAEA;
              box-shadow: 0 0 1px #EAEAEA;
      background-color: #f7f7f7;
      margin-left: 10px; }
      .post.format-chat .post-entry p:nth-child(odd):after {
        border-right-color: #f7f7f7;
        left: -20px; }
      .post.format-chat .post-entry p:nth-child(odd):before {
        border-right-color: #f7f7f7;
        left: -21px; }
    .post.format-chat .post-entry p:nth-child(even) {
      margin-right: 10px;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-shadow: 0 0 1px #1abc9c;
              box-shadow: 0 0 1px #1abc9c;
      background-color: #dbfaf4;
      border-bottom-right-radius: 0; }
      .post.format-chat .post-entry p:nth-child(even):after {
        border-left-color: #dbfaf4;
        right: -20px; }
      .post.format-chat .post-entry p:nth-child(even):before {
        border-left-color: #c1eadf;
        right: -21px; }

.pages-nav {
  margin: 50px 0; }
  .pages-nav .page-numbers {
    list-style: none;
    text-align: center; }
    .pages-nav .page-numbers li {
      display: inline-block;
      font-size: 0;
      margin: 0 1px; }
      .pages-nav .page-numbers li:hover a {
        -webkit-transition: color .5s linear;
        transition: color .5s linear;
        color: #1abc9c; }
    .pages-nav .page-numbers .page-numbers,
    .pages-nav .page-numbers span,
    .pages-nav .page-numbers a {
      font-size: 15px;
      display: block;
      text-decoration: none;
      color: #999;
      padding: 0 5px;
      min-width: 30px;
      line-height: 30px;
      height: 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 100%; }
      .pages-nav .page-numbers .page-numbers.current,
      .pages-nav .page-numbers span.current,
      .pages-nav .page-numbers a.current {
        color: #FFF;
        border-radius: 100%;
        font-weight: bold;
        background-color: #DDD; }

.comments-area .comments-title {
  font-size: 35px;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea; }
.comments-area .comment {
  margin: 30px 0;
  border-bottom: 1px solid #eaeaea; }
  .comments-area .comment .comment-body {
    margin: 10px 0; }
  .comments-area .comment .reply {
    position: absolute;
    right: 0;
    top: 0;
    display: none; }
  .comments-area .comment .comment-body:hover .reply {
    display: block; }
  .comments-area .comment .children .comment {
    position: relative;
    margin-left: 50px;
    border-bottom: none; }
  .comments-area .comment .comment-content {
    padding: 15px 0;
    font-size: 20px; }
    .comments-area .comment .comment-content img {
      max-width: 100%; }
.comments-area .comment-meta .comment-author {
  height: 20px;
  margin-bottom: 5px;
  font-size: 0; }
  .comments-area .comment-meta .comment-author .fn,
  .comments-area .comment-meta .comment-author .says {
    height: inherit;
    font-size: 20px;
    line-height: 20px;
    display: inline-block; }
  .comments-area .comment-meta .comment-author .says {
    margin-left: 5px;
    font-size: 15px;
    color: #999; }
  .comments-area .comment-meta .comment-author .avatar {
    display: block;
    position: relative;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px; }
.comments-area .comment-meta .comment-metadata {
  height: 15px;
  font-size: 15px;
  line-height: 1; }
  .comments-area .comment-meta .comment-metadata a, .comments-area .comment-meta .comment-metadata time {
    font-size: inherit;
    line-height: inherit;
    height: inherit;
    color: #999;
    margin-right: 5px; }
.comments-area .comment-respond .comment-reply-title {
  font-size: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  margin: 30px 0; }
.comments-area .comment-form .comment-notes {
  font-size: 15px;
  color: #666; }
.comments-area .comment-form .comment-form-author,
.comments-area .comment-form .comment-form-email,
.comments-area .comment-form .comment-form-url,
.comments-area .comment-form .comment-form-comment {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.comments-area .comment-form label {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  line-height: 40px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
.comments-area .comment-form .submit {
  height: 40px;
  border: 1px solid #1abc9c;
  border-radius: 30px;
  padding: 0 50px;
  background: transparent; }
  .comments-area .comment-form .submit:hover {
    color: #FFF;
    background-color: #1abc9c;
    border-color: #17a689;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
.comments-area .comment-form input[type="text"],
.comments-area .comment-form input[type="email"],
.comments-area .comment-form input[type="url"],
.comments-area .comment-form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  float: right;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: .5em; }
  .comments-area .comment-form input[type="text"]:focus,
  .comments-area .comment-form input[type="email"]:focus,
  .comments-area .comment-form input[type="url"]:focus,
  .comments-area .comment-form textarea:focus {
    outline: none;
    border-color: #1abc9c; }
.comments-area .comment-form textarea {
  min-height: 150px; }

.relative-post-nav {
  margin-top: 30px;
  margin-bottom: 30px; }
  .relative-post-nav .nav-list {
    max-width: 700px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    color: #999; }
    .relative-post-nav .nav-list .nav-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 20px;
      line-height: 1.1;
      max-width: 50%; }
    .relative-post-nav .nav-list .next-nav-item {
      text-align: right; }

.main-footer {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 50px 0;
  font-size: 12px;
  color: #999; }
  .main-footer .footer-content {
    margin: 0 auto;
    text-align: center; }

@media (max-width: 640px) {
  .main-header .blog-info-wrap .custom-logo-link {
    display: none; }
  .main-header .blog-info-wrap .split-line {
    display: none; }
  .main-header .blog-info-wrap .blog-title-desc-wrap {
    text-align: center; }
  .main-header .top-menu {
    margin-top: 0; } }

/*# sourceMappingURL=main.css.map */