@import "fonts.css/dist/fonts.css";
@import "prismjs/themes/prism.css";
@import "./toc";

//  @import "../../../../../wp-includes/css/dist/block-library/style.min.css";

$text-not-primary-color: #212a35;
$border-color: #eaeaea;
$link-primary-color: #1a73e8;
$text-color: #333;
$content-width: 680px;

html {
  color: #3c4043;
  font-size: 16px;
}

body {
  // text-justify: ideographic;
  @include font-fang-song;

  font-weight: normal;
  text-align: justify;
  word-break: normal;
  word-wrap: break-word;
}

a {
  color: $link-primary-color;
  text-decoration-color: $link-primary-color;
}

header {
  background-color: transparent !important;
}

main {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-song;

  color: $text-color;
  font-weight: normal;
}

.admin-bar {
  .main-header {
    margin-top: -35px;
  }
}

.typo {
  a {
    border-color: $link-primary-color;
  }

  .typo-table thead th,
  & table thead th {
    background: rgb(245 242 240 / 20%) !important;
    border-color: $border-color;
  }

  & table {
    th,
    td {
      line-height: 1.2;
    }

    table {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

.alignleft {
  float: left;
}

figure.alignleft,
img.alignleft {
  margin-right: 15px;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

img.alignright,
figure.alignright {
  margin-left: 15px;
}

.sticky {
  position: sticky;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;

  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.wp-caption-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header {
  $blog-info-area-height: 100px;

  max-width: 100%;
  position: relative;

  //overflow: hidden;
  // margin-bottom: 100px;

  .header-content-wrap {
    inset: 0;
    height: 100%;
    margin: auto;
    position: absolute;
  }

  &::before {
    background-color: rgb(0 0 0 / 20%);
    inset: 0;
    content: "";
    display: block;
    margin: auto;
    position: absolute;
  }

  & .top-nav-container::before {
    display: none;
  }

  .main-header-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .header-top-bar {
    background-color: rgb(255 255 255 / 50%);
    position: relative;

    .list {
      line-height: 30px;
      margin: 0 auto;
      padding: 0;

      .list-item {
        color: #000;
        display: inline-block;
        list-style: none;

        a {
          color: inherit;
        }
      }
    }
  }

  .blog-info-wrap {
    display: flex;
    font-size: 0;
    justify-content: center;
    text-align: center;

    .split-line {
      background-color: rgb(255 255 255 / 50%);
      display: inline-block;
      margin: 0 20px;
      min-height: 100%;
      width: 2px;
    }

    .custom-logo-link {
      display: inline-block;
      height: $blog-info-area-height;
      position: relative;
      width: $blog-info-area-height;

      .custom-logo {
        border-radius: 5px;
        inset: 0;
        display: block;
        height: 80px;
        margin: auto;
        position: absolute;
        width: 80px;
      }
    }

    .blog-title-desc-wrap {
      color: #fff;
      display: inline-block;
      text-align: left;
    }

    .home-link {
      @include font-kai;

      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 70px;
      line-height: 1;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
        color: $border-color;
      }

      .blog-title {
        color: inherit;
        display: block;
        font-size: inherit;
        font-weight: bold;
        line-height: inherit;
        text-align: inherit;
      }
    }

    .blog-description {
      color: #eaeaea;
      font-size: 20px;
      line-height: 20px;
      text-align: inherit;
    }
  }

  .top-nav-container {
    backdrop-filter: blur(20px);
    background-color: rgb(0 0 0 / 30%);
    box-sizing: border-box;
    font-size: 0;
    height: 50px;
    line-height: 50px;
    margin-top: -50px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    // position: sticky;
    top: 0;
    width: 100%;

    &::before {
      inset: 0;
      content: "";
      filter: blur(5px);
      margin: -30px;
      position: absolute;
    }
  }

  .top-menu {
    font-size: 0;
    height: inherit;
    line-height: inherit;
    max-width: 100%;
    overflow: auto hidden;
    padding-bottom: 30px;
    position: relative;
    white-space: nowrap;

    ul li {
      display: inline-block;
    }
  }

  .page_item,
  .menu-item {
    display: inline-block;
    font-size: 14px;
    line-height: inherit;
    margin: 0 15px;

    &.current_page_item,
    &.current-menu-item,
    &.current-category-ancestor,
    &:hover {
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &.current_page_item,
    &.current-category-ancestor,
    &.current-menu-item {
      font-weight: bold;
    }

    a {
      color: #757575;
      display: block;
    }
  }
}

.page,
.single {
  .main-content {
    .post {
      border-bottom: none;
    }
  }
}

.main-content {
  $top-meta-height: 40px;
  $top-meta-margin: 10px;

  .post-wrap {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .post-meta-wrap {
    margin: 30px 0;
  }

  .post-meta {
    @include font-fang-song;

    align-items: center;
    color: $text-not-primary-color;
    display: flex;
    font-size: 0;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    a {
      color: inherit;
    }

    .post-meta-item {
      display: inline-block;
      font-size: 14px;
      line-height: 1;
      white-space: nowrap;
    }

    .post-author {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .avatar {
      border-radius: 50%;
      display: block;
      height: $top-meta-height;
      margin-right: $top-meta-margin;
      width: $top-meta-height;
    }

    .author-name,
    .publish-time {
      display: block;
      font-size: inherit;
      line-height: inherit;
      text-align: left;
    }

    .publish-time {
      font-family: sans-serif;
      font-size: 13px;
      line-height: 1;
      margin-top: 2px;
    }

    .author-name {
      font-size: 18px;
      margin-bottom: 2px;
      padding-top: 2px;

      // padding-bottom: 5px;
    }

    .category-list {
      //justify-content:center;
      align-items: center;
      border-left: 1px solid #e5e5e5;
      display: inline-flex;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: $top-meta-height - $top-meta-margin;
      margin-left: $top-meta-margin;
      min-height: $top-meta-height;
      padding-left: $top-meta-margin;
      vertical-align: bottom;
      white-space: normal;

      a {
        display: inline-block;
        vertical-align: bottom;
      }
    }

    &.post-tags-wrap {
      flex-flow: wrap;

      // font-size: 18px;
      // line-height: 20px;
      margin: 20px 0;

      a {
        background-color: rgb(0 0 0 / 5%);
        border-radius: 20px;
        color: $text-not-primary-color;

        // font-style: italic;
        display: inline-block;
        font-size: inherit;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 5px;
        padding: 3px 10px;
        text-transform: capitalize;
        transition: color, background-color 0.3s ease-in-out;

        &:hover {
          background-color: #e8f0fe;
          color: #1967d2;
        }

        &::before {
          content: "#";
          display: inline;
          font-family: serif;
          font-weight: bolder;

          // color: #1967d2;
          //color: #999;
        }
      }
    }
  }

  .post {
    border-bottom: 1px solid $border-color;
    margin: 50px 0;

    &.last-child {
      border-bottom: none;
    }

    .post-title {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 50px;
      text-align: center;
      word-break: break-word;

      .post-title-url {
        color: #202124;
        font-size: inherit;
        text-decoration: none;
        transition: color 0.2s linear;

        a {
          color: inherit;
        }

        &:hover {
          border-bottom: 1px solid #333;
          color: #000;
        }

        &:visited {
          color: $text-not-primary-color;
        }
      }
    }

    &.sticky {
      .post-title {
        &::before {
          color: #1abc9c;
          content: "☞";
          margin-right: 0;
        }

        // .post-title-url {
        //   //background: yellow;
        // }
      }
    }
  }
}

.entry-footer {
  clear: both;
}

.post-entry {
  font-size: 18px;
  margin: 50px 0;
  text-align: justify;
  text-justify: inter-character;
  text-rendering: optimizelegibility;
  word-break: break-all;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #202124;
    font-weight: 400;
  }

  &::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  a {
    border-color: $text-not-primary-color;
    color: inherit;
    word-break: break-all;

    &:hover {
      border-bottom-color: $link-primary-color;
      color: $link-primary-color;
    }
  }

  blockquote {
    @include font-kai;

    border-left-color: $border-color;
    border-left-width: 3px;
    color: #666;
    font-size: 20px;
  }

  video,
  audio {
    display: block;
    width: 100%;
  }

  iframe,
  twitterwidget {
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    &.alignleft {
      margin-right: 10px;
    }

    &.alignright {
      margin-left: 10px;
    }

    a {
      border-bottom: none;
      text-decoration: none;
    }

    figcaption {
      text-align: center;
    }
  }

  iframe {
    display: block;
    max-width: 100%;
  }

  .attachment {
    a {
      border: none;
      display: block;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

    .gallery-item {
      box-sizing: border-box;
      margin: 5px 0;
      padding: 0 5px;
    }

    .gallery-caption {
      -webkit-box-orient: vertical;
      display: box;
      font-size: 14px;
      line-height: 1.2;
      margin-top: 5px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
    }

    .gallery-icon {
      &:hover {
        img {
          transform: scale3d(1.5, 1.5, 1);
        }
      }

      a {
        border: 1px solid #1abc9c;
        border-radius: 4px;
        display: block;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;

        &:hover {
          box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
        }
      }

      img {
        inset: 0;
        display: block;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        transition: transform 0.5s linear;
        will-change: transform;
      }
    }
  }

  @for $i from 1 through 10 {
    .gallery-columns-#{$i} {
      .gallery-item {
        flex-basis: 100% / $i;
      }
    }
  }

  table {
    font-size: 90%;
    width: 100%;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 5px;

    // font-size: 16px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    overflow: auto;

    code {
      background: unset;
      border: unset;
      border-radius: unset;
      box-shadow: none;
      font-family: inherit;
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      font-size: 15px;
      padding: unset;
    }
  }

  code {
    // font-size: 0.9em;
    @include font-hei;

    background-color: rgb(245 242 240 / 20%);
    border-radius: 2px;
    box-shadow: 0 0 1px rgb(0 0 0 / 60%);
    box-sizing: border-box;
    padding: 0 5px;
    word-break: keep-all;
  }

  a.more-link {
    border: 1px solid $text-not-primary-color;
    border-radius: 3px;
    color: $text-not-primary-color;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 0 1.25rem;
    text-decoration: none;
    transition: background-color, color 0.3s ease-in-out;

    &:hover {
      background-color: $text-color;
      color: #fff;
    }

    &:focus {
      // border-color: #174ea6;
      // color: #174ea6;
      box-shadow: 1px 2px 0 rgb(60 64 67 / 30%),
        0 2px 6px 2px rgb(60 64 67 / 15%);
    }
  }

  code {
    .language-css .token.string,
    .style .token.string,
    .token.entity,
    .token.operator,
    .token.url {
      background-color: transparent;
    }
  }

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: transparent !important;
    border: none;
    box-shadow: 0 0 3px #00000038;
  }

  .post-password-form {
    border: 1px solid #eee;
    border-radius: 4px;

    //box-shadow: 0px 0px 1px rgba(0,0,0, .2);
    padding: 5px 0;
    text-align: center;

    p {
      margin: 20px 0;
    }

    input[type="password"],
    input[type="submit"] {
      appearance: none;
      border: 1px solid #999;
      border-radius: 2px;
      box-sizing: border-box;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      margin: 0;
      padding: 0;
    }

    input[type="password"] {
      width: 200px;
    }

    input[type="submit"] {
      border: 1px solid #1abc9c;
      border-radius: 30px;
      width: 100px;
    }
  }

  img.wp-post-image,
  img.attachment-thumbnail,
  img.attachment-medium,
  img.attachment-large,
  img.attachment-full {
    border: none;
  }
}

.post.format-chat {
  .post-entry {
    display: flex;
    flex-direction: column;

    &::after {
      clear: both;
      content: "";
      display: block;
      height: 0;
      width: 0;
    }

    img {
      display: block;
    }

    p {
      $triangle-width: 10px;

      border-radius: 5px;
      display: inline-block;
      padding: 5px 10px;
      position: relative;
      z-index: 2;

      &::before,
      &::after {
        border: $triangle-width solid transparent;
        content: "";
        display: block;
        height: 0;
        margin-top: -$triangle-width;
        position: absolute;
        top: 50%;
        width: 0;
        z-index: 3;
      }

      &::before {
        border-width: $triangle-width;
        margin-top: -($triangle-width);
        z-index: -1;
      }

      &:nth-child(odd) {
        align-self: flex-start;
        background-color: lighten($border-color, 5);
        border-top-left-radius: 0;
        box-shadow: 0 0 1px $border-color;
        margin-left: $triangle-width;

        &::after {
          border-right-color: lighten($border-color, 5);
          left: -$triangle-width * 2;
        }

        &::before {
          border-right-color: #f7f7f7;
          left: -($triangle-width * 2) - 1px;
        }
      }

      &:nth-child(even) {
        align-self: flex-end;
        background-color: lighten(#1abc9c, 50);
        border-bottom-right-radius: 0;
        box-shadow: 0 0 1px #1abc9c;
        margin-right: $triangle-width;

        &::after {
          border-left-color: lighten(#1abc9c, 50);
          right: -$triangle-width * 2;
        }

        &::before {
          border-left-color: #c1eadf;
          right: -($triangle-width * 2 + 1px);
        }
      }
    }
  }
}

.post.format-link {
  .post-entry {
    a {
      background: lighten($border-color, 5);
      border: 2px dashed $border-color;
      border-radius: 5px;
      display: block;
      font-size: 20px;
      padding: 25px 0;
      position: relative;
      text-align: center;

      &::before {
        content: "☞";
        display: inline-block;
        font-size: inherit;
        margin-right: 5px;
      }
    }
  }
}

.post.format-status {
  .post-entry {
    > * {
      background-color: lighten($border-color, 5);
      display: block;
    }
  }
}

.post.format-quote {
  blockquote {
    font-size: 20px;
    font-weight: bold;
  }
}

.pages-nav {
  margin: 100px 0;

  .page-numbers {
    place-items: center center;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      font-size: 0;
      margin: 0 1px;

      &:hover {
        a {
          color: $text-color;
          transition: color 0.5s linear;
        }
      }
    }

    .page-numbers,
    span,
    a {
      align-items: center;
      border-radius: 100%;
      box-sizing: border-box;
      color: #757575;
      display: flex;
      font-family: Monaco;
      font-size: 20px;
      height: 30px;
      justify-content: center;
      line-height: 30px;
      margin: 0 5px;
      min-width: 30px;
      padding: 0 5px;
      text-decoration: none;
      vertical-align: sub;

      &.current {
        background-color: $text-not-primary-color;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.end {
  align-items: center;
  content: "EOF";
  display: flex;
  height: 20px;
  justify-content: flex-end;
  line-height: 20px;
  margin-top: 50px;

  &::before,
  &::after {
    border-bottom: 1px dotted $border-color;
    content: "";
    display: block;
    flex: 1;
    height: 0;
    line-height: 0;
  }

  .eof {
    animation: textBlink 5s ease infinite alternate-reverse;
    color: $border-color;
    display: inline-block;
    flex-shrink: 0;
    line-height: inherit;
    margin: 0 10px;
    text-align: center;
  }
}

@keyframes textBlink {
  to {
    color: $text-not-primary-color;
  }
}

.comments-area {
  .comment-list {
    .pingback {
      margin: 15px 0;
    }
  }

  .comments-title {
    border-bottom: 1px solid $border-color;
    font-size: 30px;
    padding: 10px 0;
  }

  .comment {
    border-bottom: 1px solid $border-color;
    margin: 30px 0 0;
    position: relative;

    &.bypostauthor {
      font-size: inherit;
    }

    .comment-body {
      margin: 10px 0 0;
    }

    .reply {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    .comment-body:hover {
      .reply {
        display: block;
        font-weight: bold;
      }
    }

    .comment-awaiting-moderation {
      @include font-fang-song;

      background-color: rgb(255 227 151 / 34.9%);
      border: 1px solid #ffd22c;
      border-radius: 2px;
      color: #c57800;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      margin-top: 10px;
      padding: 5px;
    }

    .children {
      .comment {
        border-bottom: none;
        margin-left: 50px;
        position: relative;
      }
    }

    .comment-content {
      font-size: 16px;
      padding: 15px 0;

      img {
        max-width: 100%;
      }
    }
  }

  .comment-meta {
    //@include font-kai;
    .comment-author {
      display: flex;
      font-size: 0;
      height: 20px;
      line-height: 1;
      margin-bottom: 5px;

      //background-color: red;

      .fn,
      .says {
        color: $text-not-primary-color;
        display: inline-block;
        font-size: 18px;
        height: inherit;
        line-height: 20px;

        //transform: translateY(4px);
        //background-color: #333;

        a {
          color: inherit;
        }
      }

      .says {
        @include font-song;

        color: #666;
        font-size: 12px;
        margin-left: 5px;
      }

      .avatar {
        border-radius: 50%;
        display: block;
        float: left;
        height: 40px;
        margin-right: 10px;
        position: relative;
        width: 40px;
      }
    }

    .comment-metadata {
      font-size: 14px;
      height: 15px;
      line-height: 1;
      margin-left: 50px;

      a,
      time {
        @include font-fang-song;

        color: $text-not-primary-color;
        font-size: 12px;
        height: inherit;
        line-height: inherit;
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }
  }

  .children {
    .comment-respond {
      border-radius: 2px;
      box-shadow: 0 0 2px #00000038;
      box-sizing: border-box;
      padding: 0 15px 1px;
    }
  }

  .comment-respond {
    .comment-reply-title {
      border-bottom: 1px solid $border-color;
      font-size: 30px;
      margin: 30px 0;
      padding: 10px 0;
    }

    #cancel-comment-reply-link {
      border: 1px solid $link-primary-color;
      border-radius: 1px;
      font-size: 16px;
      padding: 0 2px;
    }
  }

  .comment-form {
    margin-bottom: 20px;

    .comment-notes {
      color: $text-not-primary-color;
      font-size: 12px;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-comment {
      display: flex;
      margin: 25px 0;
    }

    label {
      place-items: center left;
      display: inline-flex;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 16px;
      justify-content: left;
      line-height: 1.4;
      width: 80px;

      .required {
        color: red;
      }
    }

    .comment-form-comment {
      float: right;
      width: 60%;

      label {
        width: 50px;
      }

      textarea {
        min-height: 170px;
        padding: 10px;
        text-indent: 0;
      }
    }

    .form-submit {
      clear: both;
    }

    .comment-form-cookies-consent {
      margin-bottom: 25px;

      #wp-comment-cookies-consent {
        line-height: 1;
      }

      label {
        color: #666;
        display: inline;
        font-size: 14px;
        line-height: 1;

        // width: auto;
        margin-left: 5px;
      }
    }

    .submit {
      appearance: none;
      background-color: transparent;
      border: 1px solid $text-not-primary-color;
      border-radius: 3px;
      color: $text-not-primary-color;
      display: inline-block;
      font-weight: bold;
      line-height: 2.5rem;
      padding: 0 1.25rem;
      text-decoration: none;
      transition: background-color, color 0.3s ease-in-out;

      &:hover {
        background-color: $text-color;
        color: #fff;
      }

      &:focus {
        // border-color: #174ea6;
        // color: #174ea6;
        box-shadow: 1px 2px 0 rgb(60 64 67 / 30%),
          0 2px 6px 2px rgb(60 64 67 / 15%);
      }
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      padding-right: 10px;
    }

    //.comment-form-author {
    //  label {
    //    width: inherit;
    //    padding-left: 0;
    //    padding-right: 0px;
    //  }
    //}

    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
      appearance: none;
      border: 1px solid $border-color;
      border-radius: 3px;
      box-sizing: border-box;
      display: block;
      flex: 1;
      flex-grow: 1;
      float: right;
      height: 40px;
      text-indent: 0.5em;
      width: 100%;

      &:focus {
        border-color: $text-color;
        outline: none;
      }
    }
  }
}

.relative-post-nav {
  margin-bottom: 30px;
  margin-top: -30px;

  .nav-list {
    color: #999;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $content-width;
    padding: 30px 0;

    .nav-item {
      display: flex;
      font-size: 20px;
      line-height: 1.2;
      max-width: 50%;

      a {
        font-weight: bold;
        margin: 0 5px;
        word-break: break-all;

        // text-align: justify;
        // text-justify: newspaper;
      }
    }

    .next-nav-item {
      text-align: right;
    }
  }
}

.main-footer {
  background-color: #f9f9f9;
  color: #666;
  font-size: 12px;
  padding: 50px 0;

  .footer-content {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
  }

  a {
    color: #1967d2;
  }
}

.article-pages {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  .page {
    font-weight: bold;
    padding: 0 5px;
  }
}

.page {
  &.page-template-page-friends {
    .friend-list {
      display: flex;

      .friend-list-item {
        border: 1px solid $border-color;
        border-radius: 3px;
        box-shadow: 0 1px 10px rgba($color: blue, $alpha: 10%);
        display: block;
        height: 400px;
        margin: 20px;
        overflow: hidden;
        width: 300px;
      }
    }
  }

  &.page-template-page-tags {
    .post-wrap {
      margin-bottom: 50px;
      margin-top: 50px;

      //margin: 50px auto;
      //text-align: justify;
    }

    .tag-cloud-link {
      @include font-fang-song;

      border: none;
      color: $text-not-primary-color;
      display: inline-block;
      line-height: 1.2;
      margin: 13px 3px;
      padding: 2px 3px;
      text-decoration: none;
      word-break: keep-all;

      .tag-link-count {
        color: $text-not-primary-color;
        font-size: 12px;
        vertical-align: super;
      }

      &:hover {
        color: $text-color;
        transform: scale(1.2);
        transform-origin: bottom center;
        transition: transform 0.3s ease;

        //font-weight: bold;
        //text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
      }

      //@for $i from 1 through 5 {
      //  &.tag-link-position-#{$i} {
      //    color: darken($border-color, $i * 20%);
      //  }
      //}
    }
  }

  &.page-template-page-archive {
    .post-title {
      @include font-kai;

      //color: #FFF;
      border: 1px solid $text-not-primary-color;
      margin: 0 auto;
      width: 5ch;

      //background-color: $text-not-primary-color;
    }

    .main-content {
      .post {
        $space: 80px;

        border-bottom: none;
        margin-bottom: 0;

        // background-color: rgba($color: #000000, $alpha: 0.1);

        ul,
        ol,
        li {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .unit {
          @include font-kai;
        }

        .month-title,
        .year-title {
          align-items: center;
          display: flex;
          font-weight: bold;
          height: 40px;
          justify-content: flex-end;
          justify-self: center;
          line-height: 40px;
          margin: 0;
          text-align: right;
          width: $space;

          .unit {
            color: $text-not-primary-color;
            font-size: 14px;
            font-weight: normal;
            line-height: inherit;
            margin-left: 2px;
            vertical-align: middle;
          }
        }

        .month-list {
          .month-list-item {
            margin-bottom: 10px;
          }

          // margin-left: 20px;
          .month-title {
            font-size: 20px;
          }
        }

        .year-list {
          // margin-left: -30px;
          .year-list-item {
            margin-bottom: 20px;
          }

          .year-title {
            font-size: 28px;
          }
        }

        .post-list {
          margin-bottom: 15px;
          position: relative;

          .post-list-item {
            @include font-fang-song;

            place-content: center center;
            align-items: center;
            display: flex;
            font-size: 16px;
            line-height: 40px;
            margin-left: $space + 10px;
            position: relative;

            &::before {
              background-color: $border-color;
              border-radius: 50%;
              content: "";
              height: 5px;

              // transform: translateY(-50%);
              left: -8px;
              position: absolute;
              top: 18px;
              width: 5px;
            }

            &:first-child {
              margin-top: -40px;
            }

            .line {
              border-bottom: 1px dotted $border-color;
              display: block;
              flex: 1 0 0;
              font-size: 0;
              height: 0;
            }

            a {
              border-bottom: none;
              text-decoration: none;

              &:hover {
                color: $text-color;
              }
            }

            .comments {
              font-size: 14px;
              margin-left: 5px;
            }

            .title {
              @include font-kai;

              font-weight: 500;
              margin: 0 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &:hover {
                color: #000;
                transition: color 0.3s linear;
              }
            }

            .comments,
            .publish-time {
              color: $text-not-primary-color;
              flex-shrink: 0;
              font-size: 14px;
            }

            .publish-time {
              font-size: inherit;
              font-weight: 500;
            }
          }
        }

        .month-title,
        .year-title,
        .publish-time {
          font-family: serif, Georgia, "Nimbus Roman No9 L", "Songti SC",
            "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN",
            STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun,
            "TW\\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN",
            "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU,
            MingLiU, serif;
          font-weight: 600;
        }
      }
    }

    #pagesNav {
      display: none;
    }
  }
}

.error404 {
  .post-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 150px;
  }

  .search-notice {
    margin-bottom: 15px;
  }

  .search-form {
    place-content: center center;
    display: flex;
  }

  .title {
    color: $text-not-primary-color;
    font-family: Arial;
    font-size: 10em;
    font-weight: bold;
    padding: 50px 0;
    text-align: center;
    text-shadow: 1px 2px 3px rgb(0 0 0 / 9%);

    //text-shadow: 0 1px rgba(0,0,0,0.9),
    //             0 -1px #FFF;
  }
}

.search-form {
  .search-field {
    border: 1px solid $border-color;
    border-radius: 3px 0 0 3px;
    height: 35px;

    //margin-right: 10px;
    padding: 5px;
    width: 350px;

    &:focus,
    &:focus {
      border-color: $text-not-primary-color;
    }
  }

  .search-submit {
    background-color: transparent;
    border: 1px solid $text-not-primary-color;
    border-radius: 0 3px 3px 0;
    color: $text-not-primary-color;
    display: inline-block;
    font-weight: bold;
    height: 35px;
    margin-left: -1px;
    padding: 0 1.25rem;

    //line-height: 2.5rem;
    text-decoration: none;
    transition: background-color, color 0.3s ease-in-out;

    &:hover {
      background-color: $text-color;
      color: #fff;
    }

    &:focus {
      // border-color: #174ea6;
      // color: #174ea6;
      box-shadow: 1px 2px 0 rgb(60 64 67 / 30%),
        0 2px 6px 2px rgb(60 64 67 / 15%);
    }
  }
}

.sw-update-notice {
  background-color: $text-not-primary-color;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  color: #fff;
  display: none;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 250px;
}

@media screen and (max-width: $content-width) {
  .comments-area {
    .comment-form {
      .comment-form-comment {
        float: none;
        width: auto;

        label {
          width: 80px;
        }
      }

      .comment-form-author,
      .comment-form-email,
      .comment-form-url {
        padding-right: 0;
      }
    }
  }

  .page {
    &.page-template-page-tags {
      .post-wrap {
        padding: 0 25px;
      }

      .tag-cloud-link {
        margin: 5px 3px;
        padding: 2px 3px;
      }
    }

    &.page-template-page-archive {
      .post-entry {
        margin-left: -20px;
      }
    }

    #pagesNav {
      display: none;
    }
  }
}

@media screen and (width <= 782px) {
  .admin-bar {
    .main-header {
      margin-top: -46px;
    }
  }
}

@media screen and (width <= 640px) {
  .main-header {
    //min-height: 200px;
    // .blog-title-desc-wrap {
    //   //transform: translateY(-10px);
    // }

    .blog-info-wrap {
      margin-top: 0;

      .home-link {
        font-size: 50px;
      }

      .custom-logo-link {
        display: none;
      }

      .split-line {
        display: none;
      }

      .blog-title-desc-wrap {
        text-align: center;
      }
    }

    .top-menu {
      margin-top: 0;
    }

    .top-nav-container {
      height: 30px;
      line-height: 30px;
      margin-top: -30px;
    }
  }

  .main-content {
    .post {
      margin-bottom: 30px;
      margin-top: 30px;

      .post-title {
        font-size: 2em;
      }
    }
  }

  .post-entry {
    font-size: 16px;

    table {
      max-width: 100%;
    }
  }

  .relative-post-nav .nav-list .nav-item {
    font-size: 16px;
  }

  .main-content .post-meta.post-tags-wrap {
    font-size: 15px;
  }

  .main-header {
    margin-bottom: 50px;
  }

  .comments-area {
    .comment .comment-content {
      font-size: 14px;
    }

    .comments-title {
      font-size: 20px;
    }
  }

  .page.page-template.page-template-archieve {
    .main-content .post .year-list {
      margin-left: -10px;
    }
  }

  .pages-nav .page-numbers {
    .page-numbers,
    a,
    span {
      font-size: 16px;
    }

    .page-numbers {
      height: 20px;
      line-height: 20px;
      margin: 0 1px;
      min-width: 20px;

      // width: 25px;
      // height: 25px;
      // line-height: 25px;
    }
  }

  #jsToc {
    display: none;
  }
}

@media screen and (width <= 400px) {
  .main-header {
    .blog-info-wrap {
      margin-top: 0;

      .home-link {
        font-size: 40px;
      }
    }
  }

  .main-header .custom-header-background-image {
    background-size: cover;
    padding-bottom: 50%;
  }
}

@media screen and (prefers-color-scheme: dark) {
}
